# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/

# Test cache
.pytest_cache/

# ChromaDB
chroma_db/
test_chroma_db/

# ChromaDB created by the PDF Assistant
pdf_assistant_db/

streamlit_chroma_db

evaluation_chroma