# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/

# Test cache
.pytest_cache/